## LEARN DATA ANALYSIS WITH PANDAS

## Petal Power Inventory

## Youâ€™re the lead data analyst for a chain of gardening stores called Petal Power. Help them analyze their inventory!

Answer Customer Emails
1.
Data for all of the locations of Petal Power is in the file inventory.csv. Load the data into a DataFrame called inventory.

2.
Inspect the first 10 rows of inventory.

3.
The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

4.
A customer just emailed you asking what products are sold at your Staten Island location. Select the column product_description from staten_island and save it to the variable product_request.

5.
Another customer emails to ask what types of seeds are sold at the Brooklyn location.

Select all rows where location is equal to Brooklyn and product_type is equal to seeds and save them to the variable seed_request



Inventory
6.
Add a column to inventory called in_stock which is True if quantity is greater than 0 and False if quantity equals 0.

7.
Petal Power wants to know how valuable their current inventory is.

Create a column called total_value that is equal to price multiplied by quantity.

8.
The Marketing department wants a complete description of each product for their catalog.

The following lambda function combines product_type and product_description into a single string:

combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)
Paste this function into script.py.

9.
Using combine_lambda, create a new column in inventory called full_description that has the complete description of each product.

In [4]:
import pandas as pd

In [10]:
inventory  = pd.read_csv("PandasAssignments/Assignment2/inventory.csv")
inventory

         location  product_type         product_description  quantity  price
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

In [26]:
staten_islands = inventory.head(10)
staten_islands

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [54]:
product_request = staten_islands.product_description
product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

In [42]:
seed_requests = inventory[(inventory.location=='Brooklyn')&(inventory.product_type=='seeds')]['product_description'].values
seed_requests

array(['daisy', 'calla lily', 'tomato'], dtype=object)

In [71]:
inventory['in_stock'] = inventory.quantity.apply(lambda x: True if x>0 else False )
inventory.sample(5)

,location,product_type,product_description,quantity,price,in_stock
26,Queens,pest_control,insect killer,0,12.99,False
28,Queens,planter,20 inch terracotta planter,87,17.99,True
12,Brooklyn,seeds,tomato,0,13.99,False
3,Staten Island,garden tools,rake,4,13.99,True
10,Brooklyn,seeds,daisy,50,6.99,True

In [77]:
inventory['total_value'] = inventory.price * inventory.quantity
inventory

,location,product_type,product_description,quantity,price,in_stock,total_value
0,Staten Island,seeds,daisy,4,6.99,True,27.96
1,Staten Island,seeds,calla lily,46,19.99,True,919.54
2,Staten Island,seeds,tomato,85,13.99,True,1189.15
3,Staten Island,garden tools,rake,4,13.99,True,55.96
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00
5,Staten Island,garden tools,spade,93,19.99,True,1859.07
6,Staten Island,pest_control,insect killer,74,12.99,True,961.26
7,Staten Island,pest_control,weed killer,8,23.99,True,191.92
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.00
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,211.47
10,Brooklyn,seeds,daisy,50,6.99,True,349.50
11,Brooklyn,seeds,calla lily,0,19.99,False,0.00
12,Brooklyn,seeds,tomato,0,13.99,False,0.00
13,Brooklyn,garden tools,rake,15,13.99,True,209.85
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True,7379.18
15,Brooklyn,garden tools,spade,36,19.99,True,719.64
16,Brooklyn,pest_control,insect killer,80,12.99,True,1039.20
17,Brooklyn,pest_control,weed killer,76,23.99,True,1823.24
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True,89.95
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True,103.74
20,Queens,seeds,daisy,57,6.99,True,398.43
21,Queens,seeds,calla lily,95,19.99,True,1899.05
22,Queens,seeds,tomato,45,13.99,True,629.55
23,Queens,garden tools,rake,21,13.99,True,293.79
24,Queens,garden tools,wheelbarrow,98,89.99,True,8819.02
25,Queens,garden tools,spade,26,19.99,True,519.74
26,Queens,pest_control,insect killer,0,12.99,False,0.00
27,Queens,pest_control,weed killer,16,23.99,True,383.84
28,Queens,planter,20 inch terracotta planter,87,17.99,True,1565.13

In [99]:
inventory['complete_description'] = inventory.product_type+' - '+inventory.product_description
inventory.head()

,location,product_type,product_description,quantity,price,in_stock,total_value,complete_description,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds - daisy,seeds-daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds - calla lily,seeds-calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds - tomato,seeds-tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools - rake,garden tools-rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools - wheelbarrow,garden tools-wheelbarrow

In [95]:
inventory['full_description'] = inventory.apply(lambda row: f"{row.product_type}-{row.product_description}",axis=1)

In [97]:
inventory.head()

,location,product_type,product_description,quantity,price,in_stock,total_value,complete_description,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds-daisy,seeds-daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds-calla lily,seeds-calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds-tomato,seeds-tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools-rake,garden tools-rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools-wheelbarrow,garden tools-wheelbarrow